/* Restart elements */
/* Style headers */
h1, h2, h3, h4, h5, h6{
    color: #B32B35;    
    padding: 0;
    margin: 0;
    margin-bottom: .5rem;
}

h1{
    font-size: 1.5em;
}

h2{
    font-size: 1.25em;
    font-weight: bold;
}

h3{
    font-size: 1em;
}

/* Styling elements */
html{
    
   /* Set background image, fixing it */
    background-image: url("../images/gordontartan3.jpg");
    /* Fallback background - white */
    background-color: #fff;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
    }

body{

    /* Fallback color for early IE and its ilk */
    background-color: rgb(255, 255, 255);    
    
    /* Sets transparent white background for body */
    background-color: rgba(255, 255, 255, .7);
    text-align: center;
    
    min-height: 600px;
    font-size: .9375em;
    
    font-family: "Tahoma","Geneva", "sans-serif" }

/* Links - color them blue, always */

a {
    color: #2f65A1;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: #B32B35;
}

a:visited{
    text-decoration: none;
}

a:active{
    ;
}

/* HR styling */

hr{
    color: #2f65A1;
    margin-top: .5rem;
    margin-bottom: .5rem;
}


.red_text{
    color: #B32B35;
}

.blue_text{
    color: #2f65A1;
}

.bold{
    font-weight: bold;
}

/******************************************************************************/

#banner{
    height: auto; 
    margin-top: 10px;
    padding: 0;
    padding-bottom: 2px;
    padding-top: 12px;
    min-height: 94px; /* 100px */
}

#banner_info{
    color: #B32B35;
    font-size: 1em; 
    padding-top: 1em;
}

#banner_tagline{
    padding-right: 10%;
    text-align: right; 
    font-style: italic;
}

#banner_border{
    color: #2f65A1;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/*Main*************************************************************************/

#main{
    min-height: 25em;
}

/******************************************************************************/
#navigation{
    padding-top: 20px;
}

.nav_button {
    font-size: 1.375em;
    font-variant: small-caps;
    color: #2F65A1;
    text-decoration: none;     
    width: inherit;
    height: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: solid 1px #2F65A1;
}

.nav_button:hover {
    color: #FFFFFF;
    text-decoration: none; 
    /* Fallback for IE, etc. */
    background-color: #2F65A1;
    /* Sets transparent blue background */
    background-color: rgba(47, 101, 161, .5);
}

.nav_button:visited {
    color: #2f65A1;
    background-color: #ffffff;
    text-decoration: none; 
}

#nav_bottom {
    height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top: solid 1px #ffffff;
}

/******************************************************************************/

#content {
    border-left: #2F65A1 solid 1px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 600px;
    text-align: justify;
}

#footer{
    padding-top: 10px;
    clear: both;
    padding-bottom: 10px;
    margin-bottom: 10px;
    min-height: 6.25em;
}

#footer_row2{
    font-size: .75em;
}

.figure{
    margin-right: 10px;
    float: left;
}

.caption{
    display: none;
}

#footer_row3{
    font-size: .5em;
}