/* Overarching style sheet for all pages */

/** GENERAL APPEARANCE **/
html{
    background-color: #000000;
}

body{
    background-color: #FFFFFF;
    color: #000000;
    
    min-height: 600px;
}

/** Links **/

/* Input buttons */
input[type=submit], .button
{
    /* Font - 14px */
    font-size: 1em;
    color: #000000;
    line-height: normal;
    
    /* Padding - 4px vertical, 6px horizontal*/
    padding-top: .25em;
    padding-bottom: .25em;
    padding-right: .375em;
    padding-left: .375em;
    
    /* Background color */
    background: #E0E0E0;
	
    /* Border */
    border-color: #444;
    border-style: solid;
    border-width: 1px;
}

input[type=submit]:hover, .button:hover
{
    background: #FFFFFF;
    
    text-decoration: none;
    
    /* Cursor */
    cursor: pointer;
}

/** TABLES **/

td, th{
    padding-bottom: 2px;
    padding-top: 2px;
    padding-right: 5px;
    padding-left: 5px;
}

th{
    text-align: center;
}

/** INDIVIDUAL ELEMENTS **/
hr{
    /* Bring bottom margin in line with other sides */
    margin-bottom: 1px;
}

/** PAGE SECTIONS **/

/* ALERT */

/* General layout for message box */ 
div#message{
    
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;   
    
    margin-top: 10px;
    margin-bottom: 10px;
    
    border-width: 3px;
    border-style: solid;    
}

/* Alert Title */
div#message_title{
    
    text-align: center;
    
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1.5em;
}

/** Message Styles **/

div.message_normal{
    color: #000000;
    
    border-color: #336699;
}

div.message_alert{
    background-color:   #D63333;
    color:              #FFFFFF;    
    
    border-color: #A30000;
}

div.message_success{
    background-color: #9BE69B;
    color: #003300;
    
    border-color: #009933;
}